.single__info-box{
    background: #132347;
    padding: 20px;
    border-radius: 5px;
    border-bottom: 1px solid #7865ff;
}

.single__info-box p{
    font-weight: 300;
    margin-top: 10px;
    font-size: 0.9rem;
}

.single__info-box h6{
    font-size: 1.1rem;

}

.contact__info-container{
   display: flex;
   gap: 30px;
}

.single__info-box{
   width: 100%;
   margin-bottom: 30px;
}

 @media screen and (max-width: 800px) {
    .contact__info-container {
        display: block;
    }

    .single__info-box {
        width: 100%;
        margin-bottom: 0px;
    }
 }